@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
:root{
    --bs-body-font-family: "Raleway", sans-serif;
}
body{
    margin: 0;
    background-color: white;
    
    
}
.row, .col{
    transition: 0.5s;
}

#main-content{
    transition:0.3s;
}
.navbar{
    padding: 0 3rem;
    gap: 2rem;
    display: flex;
    align-items: stretch;
    height:60px;
    justify-content: space-between;
    position: relative;
    

}
.navbar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
}
.navbar a{
    text-decoration: none;
    color: inherit;
    padding: 0.25rem;
    align-items: center;
    display:flex;
    height:100%;  
    
    position: relative;
    
}

.navbar li{
    text-transform: uppercase;
}
.navbar li a::after{
    content:'';
    height: 2px;
    width: 100%;
    background:#5ECE7B;
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.navbar li a:hover::after,
.navbar li a:focus::after
{
    opacity: 1;
    transform-origin: left;
    transform: scaleX(1);
    
}
.navbar li.active{
    color: #5ECE7B;
    
}
.navbar li:hover{
    color: #5ECE7B;
}
.navbar a.logo{
    display: block;
    position:absolute;
    margin-left: 45%;
    margin-right: 50%;
    margin-top: 10px; 
}
.navbar li.active a::after{

    opacity: 1;
    transform-origin: left;
    content:'';
    height: 2px;
    width: 100%;
    background:#5ECE7B;
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity: 1;
    transition: all 0.3s;
    pointer-events: none;
    transform:scaleX(1);
    transform-origin: left;
    transition: transform 0.3s
    
}





.PageTitle{
    padding-bottom: 60px;
    padding-top: 50px;
    padding-left: 60px;
    margin-top: 50px;
    font-size: 42px;
}




.product{
    margin: 3rem;
    width: 386px;
    height: 444px;
    position:relative;
    box-shadow: 0px;

    border: none;
    transition: 0.3s;
    color:black ;
    list-style: none;
    cursor: pointer;
    
}

.quickShop{
    display:none;
    position: absolute;
    bottom: 74px;
    right: 40px;
    z-index:2;
    background-color: #5ECE7B;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 50%;
    width: 52px;
    height: 52px;

}
.cart2{
    position: absolute;
    filter: invert(100%) sepia(100%) saturate(12%) hue-rotate(240deg) brightness(104%) contrast(100%);
    transform: scale(1.2);
    bottom: 17px;
    right: 17px
}
.outofstock{
    position: absolute;
    z-index: 2;
    width: 173px;
    height: 39px;
    top: 155px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    color: rgba(141, 143, 154, 1);
    font-size:24px;
}
.product:hover 
.quickShop{
    display:initial;
}

.product:hover
.product-image{
    box-shadow: 0px 4px 35px 0px rgba(168, 172, 176, 0.19);
    
}
.product:hover
{
    box-shadow: 0px 4px 35px 0px rgba(168, 172, 176, 0.19);
    
}
.product-image, .product-name, .product-price{
    position: absolute;
    top: 14px;
    left: 16px;
    z-index: 1;
}
.product-name{
    position: absolute;
    top: 373px;
}
.product-price{
    position: absolute;
    top: 396px;
    font-weight: 550;
}
.product-image{
    width: 354px;
    height: 330px;
    transition: 0.3s;

}

.PDP{
    padding-bottom: 60px;
    padding-top: 70px;
    padding-left: 60px;
    height: 728px;
    position:relative;
    
}
.PDPTitle{
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    width: 100%;
    height: 27px;
    top: 160px;
    left: 903px;
    gap: 0px;
    opacity: 0px;
    padding-bottom: 50px;

}
.AttributeName{
    width: 100%;
    height: 18px;
    top: 412px;
    left: 903px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    
    
}

.PDPPriceText{
    width: 50px;
    height: 18px;
    top: 412px;
    left: 903px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    padding-bottom: 40px;

}

.PDPPrice{
    width: 86px;
    height: 46px;
    top: 440px;
    left: 903px;
    gap: 0px;
    opacity: 0px;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;


}
.PDPAddToCart{
    background-color: rgba(94, 206, 123, 1);
    width: 300px;
    height: Hug (52px)px;
    top: 506px;
    left: 903px;
    padding: 16px 32px 16px 32px;
    gap: 0px;
    opacity: 0px;
    color:white;
    border: none;

}
.PDPAddToCart:disabled{
    cursor: not-allowed;

}
.PDPDescription{
    padding-top: 30px;
    width: 292px;
    height: 103px;
    top: 598px;
    left: 903px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.59px;
    text-align: left;
    white-space: pre-line;

}
.AttributeOptions{
    width: Hug (116px)px;
    height: Hug (36px)px;
    top: 349px;
    left: 903px;
    gap: 8px;
    opacity: 0px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 1px;
    display: inline-flex;

    
}

.AttributeButton{
    margin-right: 10px;
    width: 65px;
    height: 45px;
    top: 245px;
    left: 903px;
    gap: 0px;
    opacity: 0px;
    border: solid 1px;
    cursor:pointer;
    align-content: center;
    text-align: center;
    
}
.AttributeInput:checked +.AttributeButton{
    background-color: black;
    color: white
}


.AttributeButtonColor{
    width: 36px;
    height: 36px;
    gap: 0px;
    opacity: 1;
    margin-right: 6px;
    border: solid 0.1px;
    cursor:pointer;
    
}

.ColorInput:checked + .AttributeButtonColor  {
    border: 3px solid rgba(94, 206, 123, 1)!important;
    outline: 1px solid white  !important; 
    outline-offset: -2px !important;
    transition: 0.3s !important;
        
}

.ColorInput, .AttributeInput{
    display: none;
}

.GalleryImage{
    width: 79px;
    height: 80px;
    top: 560px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    box-shadow: 0px 4px 35px 0px rgba(168, 172, 176, 0.19);
    cursor: pointer;
    border-image-source: linear-gradient(0deg, #000000, #000000),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    display:block;
    margin-bottom: 15px;
}
.Carousel{
    position: relative;
}
.CarouselImageContainer{
    width: 575px;
    height: 478px;
    overflow-y: auto;
    overflow-x:auto;
    transition: 0.3s;
}
.CarouselImage{
    width: 100%;
    max-height: auto;
    transition: 0.3s;
}
.leftCursor{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 223px;
    left: 26px;
    gap: 0px;
    opacity: 0px;
    background:transparent;
    background-color: rgba(0, 0, 0, 0.73);
    border:none;
    color: white;
}
.rightCursor{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 223px;
    left: 540px;
    gap: 0px;
    opacity: 0px;
    background:transparent;
    background-color: rgba(0, 0, 0, 0.73);
    border:none;
    color: white;  
}
.LeftArrow{
    width: 7.43px;
    height: 14.84px;
    top: 246.01px;
    left: 27.54px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;

}
.RightArrow{
    width: 7.5px;
    height: 14.98px;
    top: 246.08px;
    left: 547.5px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;

}




/*************************************
******************************************************************************************
***********************************************************Cart***************************************/
.cart{
    cursor:pointer;
}
.CartOverlay{
    width: 325px;
    height: 700px;
    top: 380px;
    left: 34px;
    padding: 32px 16px 32px 16px;
    gap: 32px;
    background-color: white;
    z-index:3;
    position:relative;
    cursor:default;

    
}

.CartContent{
  
    height: 480px;
    gap: 32px;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    width:300px;
    max-height:530px;
    overflow-y: auto;
    overflow-x:hidden;
    top: 50px;
    
}

.MyBag{
    width: 140px;
    height: 26px;
    top:35px;
    gap: 0px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    text-align: left;
    position:absolute;

}
.MyBag .ItemCount{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: right;
   

}

/*Entire Cart Item*/.CartItem{
    width: 293px;
    height: 207px;
    gap: 8px;
    
    position:relative;  
    top:0px;
    margin-bottom: 25px;;
    


}
/*Entire Cart Item without Image*/.CartItemContent{
    width: 164px;
    height: 167px;
    gap: 4px;


}
.CartItemName{
    width:90%;
    word-wrap: break-word;
}
.CartItemImage{
    width: 121px;
    height: 167px;
    gap: 0px;
    position: absolute;
    right: 0px;
    bottom: 18px;

}

.CartItemAttribute{
    width: 145px;
    height: 48px;
    gap: 8px;
    

}
.CartItemAttributeName{
    width: 100%;
    height: 16px;
    gap: 0px;
    opacity: 0px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
        
}
.CartAttributeOptions{
    width: Hug (30px)px;
    height: Hug (36px)px;
    top: 349px;
    left: 903px;
    gap: 8px;
    opacity: 0px;
    padding-top: 1px;
    padding-left: 1px;
    display: inline-flex;
  
}

.CartAttribute{
    width: 24px;
    height: 24px;
    opacity: 1;
    border: solid 1px;
    cursor:pointer;
    margin-right: 5px;
    align-content: center;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 8px;
    font-weight: 400;
    line-height: 22.4px;
    cursor: default;
    
}


.CartAttributeColor{
    width: 16px;
    height: 16px;
    top: 2px;
    left: 28px;
    gap: 0px;
    opacity: 0px;
    border: solid 0.1px;
    display: inline-block;
    cursor:pointer;
    margin-right: 5px;
    cursor: default;
}


.Total{
    width: 289px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    position:absolute;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    bottom: 100px;
}
.TotalPrice{
    width: 249px;
    height: 28px;
    gap: 0px;
    opacity: 0px;
    text-align: right;
    position:absolute;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    text-align: right;

}
.PlaceOrder{
    position:absolute;
    bottom:30px;
    width: 292px;
    height: 43px;
    gap: 12px;
    opacity: 0px;
    border: solid;
    background-color: #5ECE7B;
    color:white;
    cursor: pointer;
    align-content: center;
    text-align: center;
    text-transform: uppercase;

}
.PlaceOrder:disabled{
    cursor: not-allowed;

}

.Counter{
    width: 24px;
    height: 167px;
    gap: 0px;
    opacity: 0px;
    position:absolute;
    left:150px;
    top: 80px;
 
}
.Increment{
    position: absolute;
    bottom: 220px;
    width: 24px;
    height: 24px;
    gap: 0px;
    border: 1px solid;
    opacity: 0px;
    right: 6px; 
    text-align: center;
    cursor: pointer;



}
.Decrement{
    position: absolute;
    top: 95px;
    width: 24px;
    height: 24px;
    gap: 0px;
    border: 1px solid;
    opacity: 0px;
    right: 6px; 
    text-align: center;
    cursor: pointer
    
}
.CounterValue{
    position: absolute;
    top: 10px;
}
.CountBubble{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 11px;
    left: 15px;
    gap: 0px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    color: white;
    background-color: #000000;
    
}
.CountBubbleNumber{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 1px;;
    font-size: 14px;
}
.CountBubbleWithCart{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 11px;
    left: 340px;
    gap: 0px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    color: white;
    background-color: #000000;
}